.vscode/
build/
eZ80_emu
.vs/ez80EmuSDL/v16/Browse.VC.db
.vs/ez80EmuSDL/v16/Browse.VC.db
.vs/ez80EmuSDL/v16/Solution.VC.db
.vs/ez80EmuSDL/v16/Browse.VC.db
.vs/ez80EmuSDL/v16/Solution.VC.db
.vs/ez80EmuSDL/v16/Browse.VC.db
*.ipch
*.db
*.db
*.obj
*.pdb
*.tlog
*.idb
*.exe
